html {
    scroll-behavior: smooth;
}
body {
    margin: 20px;
    padding: 0;
}
/* disign */

/* Hero header */
section {
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
header img {
    max-width: 150px;
}
header .links a {
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    color: #339999;
}
header .links a:hover {
    color: rgba(0, 0, 0, 0.829);
}
button {
    background-color:#339999;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    border: none;
}
button:hover {
    color: fffff;
    background-color: #1a5050d8;
    cursor: pointer;
}
.heroHeaders {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroHeaders img {
    max-width: 1000px;
}
.heroHeaders p {
    font-size: 30px;
    margin: 5px;
}
.heroHeaders button {
    font-size: 15px;
    border-radius: 30px;
    padding: 15px;
    margin-top: 30px;
}
span {
    color: #ff9933;
}
.filigrame {
    width: 100%;
    height: 40px;  
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.filigrame img {
    max-width: 90px;
    margin-right: 30px;
}

/* Services */
.services {
    text-align: center;
    padding: 50px 20px;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
}

.service img {
    max-width: 100px;
}

h1, h2 {
    margin: 20px 0;
}
h1 {
    margin-bottom: 80px;
    font-size: 40px;
}
p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}

.contact {
    text-align: center;
    padding: 20px;
}

.contact h2 {
    margin: 40px 0 20px;
}

/* contact */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: none;
    margin: 10px;
}

.hk{
    width: 420px;
    background: rgba(215, 212, 212, 0.913);
    color: white;
    border-radius: 10px;
    padding: 30px 60px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(118, 110, 110, 0.2);
}
.hk h1{
    font-size: 30px;
    text-align: center;
    color: black;
}
.hk p{
    /* font-size: 15px; */
    color: black;
    margin-left: 35px;
    /* margin: 10px; */
}
.hk .G-solutech{
    width: 100%;
    height: 50px;
    
    margin: 10px 0;
}
.G-solutech input{
     width: 100%;
     height: 100%;
     background: rgba(165, 162, 162, 0.509);
     border: none;
     outline: none;
     border: 2px solid rgba(255, 255, 255, .2);
     border-radius: 10px;
     font-size: 16px;
     padding: 10px 35px 10px 10px;
     margin-left: 30px;
}


.Go-solutech textarea{
    width: 100%;
    height: 100%;
    background: rgba(165, 162, 162, 0.509);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 3%;
    font-size: 16px;
    margin-left: 30px;
}
.G-solutech input::placeholder{
    color: rgb(129, 124, 124);
}
.G-solutech textarea::placeholder{
    color:rgb(129, 124, 124);
}
.hk .bouton{
    width: 50%;
    height: 35px;
    background: steelblue;
    border: none;
    outline: none; 
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin-left: 30px;
}
.contact img{
    width: 20%;
    margin-left: -450px;
    position: absolute;
}
.textarea-fixe{
    width: 300px;
    height: 150px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}
/* footer */

footer {
    width: 100%;
    height: fit-content;
    margin-top: 80px;
}
footer p {
    font-family: sans-serif;
    font-size:small;
    text-align: center;
}
footer .part1, .part2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    float: center;
}
footer .part1 img {
    width: 250px;
}
footer .part1 hr {
    width: 30%;
    font-weight: bolder;
    height: 3px;
    background-color: gray;
    opacity: 50%;
    border-radius: 4px;
}
footer .part2 div {
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
footer .part2 div i {
    font-size: 40px;
    margin: 20px;
}
footer .part3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}
footer .part4 {
    width: 100%;
    height: 40px;
    background-color: black;  
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
footer .part4 label {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}